html {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
    background-color: lightgray;

    button {
      margin-left: 10px;
    }

    nav {
      z-index: 10;
    }

    .card {
      width: 20rem !important;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }

    .dragging {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    .inactive {
      opacity: 0.5;
    }

    button.invisible {
      display: none;
    }
  }
}
